body {
  position: static;
  /* background-image: url(../images/Wireframe\ -\ 24.png); */
  background-color: #f6f6f6;
  cursor: url(../images/Ellipse\ 10.svg), auto;
}

/* 1 блок */
.sec1 {
  width: 100vw;
  height: 63.158vw;
  position: relative;
  background-color: #f6f6f6;
}
.stroiteli {
  width: 100vw;
  height: 63.158vw;
  position: absolute;
}
.zagolovok {
  font-family: 'DelaGothicOne';
  font-size: 8.681vw;
  color: #ff8400;
  position: absolute;
  left: 16vw;
  top: 43vw;
}
.uverennoct {
  font-family: 'DelaGothicOne';
  font-size: 3.472vw;
  color: #f6f6f6;
  position: absolute;
  left: 10vw;
  top: 4.861vw;
}
.inzhiniring {
  font-family: 'AA Stetica';
  font-size: 2.083vw;
  color: #f6f6f6;
  position: absolute;
  left: 36vw;
  top: 54.5vw;
}

.sec1 {
  width: 100vw;
  height: 63.158vw;
  position: relative;
  overflow: hidden;
}

.zagolovok,
.inzhiniring,
.uverennoct {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.5s ease-out forwards;
}

.zagolovok {
  animation-delay: 0s;
}

.inzhiniring {
  animation-delay: 0.5s;
}

.uverennoct {
  animation-delay: 1s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* 2 блок */
/* Стиль секции 2 */
.sec2 {
  width: 100vw;
  height: 49.514vw;
  position: relative;
  overflow: hidden; /* Скроем элементы, выходящие за пределы */
}

/* Параллаксовый эффект для изображения */
.zdanie1 {
  position: absolute;
  top: 3vw;
  left: 0;
  width: 34.424vw;
  height: 47.431vw;
  opacity: 0;
  transform: translateY(50px); /* Изначально смещено вниз */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Элементы текста секции 2 */
.comp,
.text1,
.text2,
.text3,
.text4,
.text5 {
  font-family: 'AA Stetica';
  font-style: normal;
  font-size: 1.736vw;
  position: absolute;
  color: #121e3c;
  line-height: 2.014vw;
  opacity: 0; /* Изначально невидимо */
  transform: translateY(20px); /* Начальная позиция смещена вниз */
  transition: opacity 1s ease-out, transform 1s ease-out; /* Плавный эффект */
}

/* Стиль для текста "О компании" */
.comp {
  top: 2.3vw;
  left: 22vw;
  font-weight: bold;
  font-size: 4.861vw;
}

/* Тексты секции */
.text1 {
  top: 9vw;
  left: 40vw;
}
.text2 {
  top: 15vw;
  left: 40vw;
}
.text3 {
  top: 21vw;
  left: 40vw;
}
.text4 {
  top: 29vw;
  left: 40vw;
}
.text5 {
  top: 37vw;
  left: 40vw;
}

/* Класс, который активируется при скролле */
.visible {
  opacity: 1;
  transform: translateY(0); /* Возвращаем элементы в их исходную позицию */
}

/* Задержки для каждого текста */
.text1 {
  animation-delay: 0.2s;
}
.text2 {
  animation-delay: 0.4s;
}
.text3 {
  animation-delay: 0.6s;
}
.text4 {
  animation-delay: 0.8s;
}
.text5 {
  animation-delay: 1s;
}
/* 3 блок */
.sec3 {
  width: 100vw;
  height: 56.528vw;
  position: relative;
  background-color: #ff8400;
}

/* Заголовок "НАПРАВЛЕНИЯ" */
.napr {
  font-family: 'AA Stetica';
  font-size: 4.861vw;
  font-weight: bold;
  color: #121e3c;
  position: absolute;
  top: 1vw;
  left: 52vw;
  opacity: 0; /* Изначально скрыт */
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Изображение */
.zdanie2 {
  top: 7vw;
  left: 3vw;
  position: absolute;
  width: 93.264vw;
  height: 42.639vw;
  opacity: 0;
  transform: translateY(50px); /* Изначально смещено вниз */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Пункты с направлениями */
.point1,
.point2,
.point3,
.point4,
.point5,
.point6,
.point7 {
  font-family: 'AA Stetica';
  font-style: normal;
  font-size: 1.736vw;
  position: absolute;
  color: #121e3c;
  opacity: 0; /* Изначально скрыт */
  transform: translateY(20px); /* Начальная позиция */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Позиции для пунктов */
.point1 {
  top: 11.5vw;
  left: 6.43vw;
  line-height: 2.014vw;
}
.point2 {
  top: 15.5vw;
  left: 6.43vw;
  line-height: 2.014vw;
}
.point3 {
  top: 21.5vw;
  left: 6.43vw;
  line-height: 2.014vw;
}
.point4 {
  top: 25.5vw;
  left: 6.43vw;
  line-height: 2.014vw;
}
.point5 {
  top: 29.5vw;
  left: 6.43vw;
  line-height: 2.014vw;
}
.point6 {
  top: 35.5vw;
  left: 6.43vw;
  line-height: 2.014vw;
}
.point7 {
  top: 41.5vw;
  left: 6.43vw;
  line-height: 2.014vw;
}

/* Класс, который активирует анимацию */
.visible {
  opacity: 1;
  transform: translateY(0); /* Позиция возвращается к нормальной */
}

/* Задержки для каждого элемента */
.point1 {
  animation-delay: 0.2s;
}
.point2 {
  animation-delay: 0.4s;
}
.point3 {
  animation-delay: 0.6s;
}
.point4 {
  animation-delay: 0.8s;
}
.point5 {
  animation-delay: 1s;
}
.point6 {
  animation-delay: 1.2s;
}
.point7 {
  animation-delay: 1.4s;
}

/* 4 блок */
.sec4 {
  width: 100vw;
  height: 67.431vw;
  position: relative;
}
.kak {
  font-family: 'AA Stetica';
  font-size: 4.861vw;
  font-weight: bold;
  color: #121e3c;
  position: absolute;
  top: 2vw;
  left: 24.5vw;
}
.strl {
  font-family: 'AA Stetica';
  font-style: normal;
  font-size: 1.736vw;

  color: #121e3c;
}
.strl1 {
  position: absolute;
  top: 11vw;
  left: 2.16vw;
}
.strl2 {
  position: absolute;
  top: 11vw;
  left: 41.16vw;
}
.strl3 {
  position: absolute;
  top: 19.5vw;
  left: 69.16vw;
}
.strl4 {
  position: absolute;
  top: 18.5vw;
  left: 2.16vw;
  line-height: 2.014vw;
}
.strl5 {
  position: absolute;
  top: 30.5vw;
  left: 10.16vw;
}
.strl6 {
  position: absolute;
  top: 30.5vw;
  left: 69.5vw;
}
.strl7 {
  position: absolute;
  top: 39.5vw;
  left: 50.5vw;
  line-height: 2.014vw;
}
.strl8 {
  position: absolute;
  top: 40.5vw;
  left: 5.5vw;
}
.strl9 {
  position: absolute;
  top: 50vw;
  left: 13.5vw;
}
.strl10 {
  position: absolute;
  top: 50vw;
  left: 55.5vw;
}
.strl11 {
  position: absolute;
  top: 60vw;
  left: 60.5vw;
}
.strl12 {
  position: absolute;
  top: 60vw;
  left: 3.5vw;
}

.aka1 {
  position: absolute;
  top: 11vw;
  left: 32.8vw;
  width: 7.431vw;
  height: 2.083vw;
}
.aka2 {
  position: absolute;
  top: 11.7vw;
  left: 84.8vw;
  width: 8.333vw;
  height: 6.597vw;
}
.aka3 {
  position: absolute;
  top: 19.5vw;
  left: 56.8vw;
  rotate: 180deg;
  width: 7.431vw;
  height: 2.083vw;
}
.aka4 {
  position: absolute;
  top: 24.5vw;
  left: 1.8vw;
  height: 8.333vw;
  width: 6.597vw;
}
.aka5 {
  position: absolute;
  top: 30vw;
  left: 60.8vw;
  width: 7.431vw;
  height: 2.083vw;
}
.aka6 {
  position: absolute;
  top: 30.7vw;
  left: 89.8vw;
  width: 8.333vw;
  height: 6.597vw;
}
.aka7 {
  position: absolute;
  top: 40vw;
  left: 39.8vw;
  rotate: 180deg;
  width: 7.431vw;
  height: 2.083vw;
}
.aka8 {
  position: absolute;
  top: 44.5vw;
  left: 4.8vw;
  height: 8.333vw;
  width: 6.597vw;
}
.aka9 {
  position: absolute;
  top: 50vw;
  left: 46.8vw;
  width: 7.431vw;
  height: 2.083vw;
}
.aka10 {
  position: absolute;
  top: 51vw;
  left: 85.8vw;
  width: 8.333vw;
  height: 6.597vw;
}
.aka11 {
  position: absolute;
  top: 59.5vw;
  left: 49.8vw;
  rotate: 180deg;
  width: 7.431vw;
  height: 2.083vw;
}
/* Общая анимация для всех элементов */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(
      20px
    ); /* Элементы начинают с небольшого смещения вниз */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Элементы возвращаются на свое место */
  }
}

/* Начальные состояния элементов - скрыты */
.strl1,
.strl2,
.strl3,
.strl4,
.strl5,
.strl6,
.strl7,
.strl8,
.strl9,
.strl10,
.strl11,
.strl12,
.aka1,
.aka2,
.aka3,
.aka4,
.aka5,
.aka6,
.aka7,
.aka8,
.aka9,
.aka10,
.aka11 {
  opacity: 0;
  transform: translateY(20px); /* Элементы начинают с небольшого смещения */
  transition: opacity 1s ease-out, transform 1s ease-out; /* Плавная анимация */
}

/* Когда элемент становится видимым - запускаем анимацию */
.visible {
  opacity: 1;
  transform: translateY(0); /* Позиция возвращается к нормальной */
}

/* Задержки для каждого элемента, когда он становится видимым (прибавлено 0.5 сек.) */
.strl1.visible {
  animation-delay: 0s;
}
.aka1.visible {
  animation-delay: 0.5s;
}
.strl2.visible {
  animation-delay: 1s;
}
.aka2.visible {
  animation-delay: 1.5s;
}
.strl3.visible {
  animation-delay: 2s;
}
.aka3.visible {
  animation-delay: 2.5s;
}
.strl4.visible {
  animation-delay: 3s;
}
.aka4.visible {
  animation-delay: 3.5s;
}
.strl5.visible {
  animation-delay: 4s;
}
.aka5.visible {
  animation-delay: 4.5s;
}
.strl6.visible {
  animation-delay: 5s;
}
.aka6.visible {
  animation-delay: 5.5s;
}
.strl7.visible {
  animation-delay: 6s;
}
.aka7.visible {
  animation-delay: 6.5s;
}
.strl8.visible {
  animation-delay: 7s;
}
.aka8.visible {
  animation-delay: 7.5s;
}
.strl9.visible {
  animation-delay: 8s;
}
.aka9.visible {
  animation-delay: 8.5s;
}
.strl10.visible {
  animation-delay: 9s;
}
.aka10.visible {
  animation-delay: 9.5s;
}
.strl11.visible {
  animation-delay: 10s;
}
.aka11.visible {
  animation-delay: 10.5s;
}

.strl12.visible {
  animation-delay: 11s;
}
/* 7 БЛОК */
.sec7 {
  width: 100vw;
  height: 103vw;
  position: relative;
  background-color: #f6f6f6;
}
.uslugi {
  width: 100vw;
  height: 107.569vw;
  position: absolute;
  z-index: 40;
  opacity: 50%;
}
.chtooo {
  width: 100vw;
  height: 6.528vw;
  background-color: #ff8400;
  position: absolute;
}

.zagolovok7 {
  top: 2.3vw;
  left: 2.1vw;
  font-family: 'AA Stetica';
  font-weight: bold;
  font-size: 4.861vw;
  position: absolute;
  color: #121e3c;
  line-height: 2.014vw;
  position: absolute;
}
.orange1,
.orange2,
.orange3,
.orange4,
.orange5,
.orange6,
.orange7,
.orange8 {
  left: 2.4vw;
  font-family: 'AA Stetica';
  font-weight: bold;
  font-size: 1.736vw;
  position: absolute;
  color: #ff8400;
  line-height: 2.014vw;
  position: absolute;
}
.orange1 {
  top: 10.7vw;
}
.orange2 {
  top: 21.9vw;
}
.orange3 {
  top: 33.3vw;
}
.orange4 {
  top: 44.6vw;
}
.orange5 {
  top: 55.4vw;
}
.orange6 {
  top: 67.2vw;
}
.orange7 {
  top: 78.4vw;
}
.orange8 {
  top: 89.8vw;
}
.osn1,
.osn2,
.osn3,
.osn4,
.osn5,
.osn6,
.osn7,
.osn8 {
  left: 2.4vw;
  font-family: 'AA Stetica';
  font-style: normal;
  font-size: 1.736vw;
  position: absolute;
  color: #121e3c;
  line-height: 2.014vw;
}
.osn1 {
  top: 14.3vw;
}
.osn2 {
  top: 25.7vw;
}
.osn3 {
  top: 36.9vw;
}
.osn4 {
  top: 48.2vw;
}
.osn5 {
  top: 59.5vw;
}
.osn6 {
  top: 70.7vw;
}
.osn7 {
  top: 82.1vw;
}
.osn8 {
  top: 93.6vw;
}
.kon {
  top: 101vw;
  width: 100vw;
  height: 3vw;
  background-color: #ff8400;
  position: absolute;
}
/* Скрываем элементы по умолчанию */
.orange1,
.osn1,
.orange2,
.osn2,
.orange3,
.osn3,
.orange4,
.osn4,
.orange5,
.osn5,
.orange6,
.osn6,
.orange7,
.osn7,
.orange8,
.osn8 {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Показываем элементы при добавлении класса visible */
.orange1.visible,
.osn1.visible,
.orange2.visible,
.osn2.visible,
.orange3.visible,
.osn3.visible,
.orange4.visible,
.osn4.visible,
.orange5.visible,
.osn5.visible,
.orange6.visible,
.osn6.visible,
.orange7.visible,
.osn7.visible,
.orange8.visible,
.osn8.visible {
  opacity: 1;
  transform: translateY(0);
}
/* 5 блок */
.sec5 {
  width: 100vw;
  height: 61.944vw;
  position: relative;
}
.zdanie3 {
  top: 1vw;
  position: absolute;
  width: 37.292vw;
  height: 61.944vw;
}
.posl {
  font-family: 'AA Stetica';
  font-style: normal;
  font-size: 1.736vw;
  position: absolute;
  color: #121e3c;
  top: 2vw;
  left: 18vw;
  line-height: 2.014vw;
}
.poslb {
  font-family: 'AA Stetica';
  font-weight: bold;
  font-size: 1.736vw;
  position: absolute;
  color: #121e3c;
  line-height: 2.014vw;
}
.doc1 {
  position: absolute;
  top: 16vw;
  left: 39vw;
  width: 27.778vw;
  height: 38.889vw;
}
.doc2 {
  position: absolute;
  top: 22vw;
  left: 69vw;
  width: 27.778vw;
  height: 38.889vw;
}
.posl {
  opacity: 0;
  transform: translateY(20px); /* Элементы начинают с небольшого смещения */
  transition: opacity 1s ease-out, transform 1s ease-out; /* Плавная анимация */
}

.posl.visible {
  opacity: 1;
  transform: translateY(0); /* Позиция возвращается к нормальной */
}
/* 6 блоооооооок */
.sec6 {
  width: 100vw;
  height: 20.833vw;
  position: relative;
  background-color: #ff8400;
}
.contact {
  font-family: 'AA Stetica';
  font-style: normal;
  font-size: 1.736vw;
  position: absolute;
  color: #f6f6f6;
  top: 1.5vw;
  left: 1vw;
  line-height: 2.014vw;
}
